﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>User List</h2>
        </div>
        <div class="col-md-4 text-right">
        </div>
    </div>
</div>

<table class="table" st-pipe="vm.getUsers" st-table="vm.users">
    <thead>
        <tr>
            <th st-sort="Email">Email</th>
            <th st-sort="FullName">FullName</th>
            <th st-sort="CreatedOn">CreatedOn</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th><input st-search="Email" /></th>
            <th><input st-search="FullName" /></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="user in vm.users">
            <td>{{user.email}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.createdOn}}</td>
            <td></td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="4" class="text-center">Loading ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
        </tr>
    </tfoot>
</table>	