﻿<md-card>
    <md-card-content layout-padding>
        <h2>Create Category</h2>
        <form name="categoryForm">
            <md-input-container class="md-block">
                <label>Category Name</label>
                <input name="name" ng-model="vm.category.name" required md-maxlength="10" minlength="4">
                <div ng-messages="categoryForm.name.$error" ng-show="categoryForm.name.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Parent Category</label>
                <md-select ng-model="vm.category.parentId">
                    <md-option ng-value="">Top</md-option>
                    <md-option ng-value="opt.id" ng-repeat="opt in vm.categories">{{ opt.name }}</md-option>
                </md-select>
            </md-input-container>
        </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="vm.create()">Save</md-button>
        <md-button class="md-raised">Cancel</md-button>
    </md-card-actions>
</md-card>