﻿@model HvCommerce.Web.ViewModels.Catalog.ProductDetail

@section head
{
    <link href="~/lib/flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/css/product-detail.css" rel="stylesheet" />
}

<div class="product-detail">
    <div class="row">
        <div class="col-md-6">
            <div id="slider" class="flexslider">
                <ul class="slides">
                    @foreach (var image in Model.Images)
                    {
                        <li>
                            <img src="@image.Url"/>
                        </li>
                    }
                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    @foreach (var image in Model.Images)
                    {
                        <li>
                            <img src="@image.ThumbnailUrl"/>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-name">
                <h1 class="">@Model.Name</h1>
                <div>@Model.ShortDescription</div>
                @if (Model.HasVariation)
                {
                    foreach (var attribute in Model.AvailableAttributes)
                    {
                        <label>@attribute.AttributeName: </label>
                        <select>
                            @foreach (var value in attribute.Values)
                            {
                                <option>@value</option>
                            }
                        </select>
                    }
                }
                <p class="product-price">Price: @Model.Price</p>
            </div>
        </div>
    </div>
    <div>
        <h3>Product detail</h3>
        @Model.Description
    </div>
    <div>
        <h3>Product specification</h3>
        @Model.Specification
    </div>
</div>

@section scripts
{
    <script src="~/lib/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/js/product-detail.js"></script>
}
