﻿@model IEnumerable<HvCommerce.Web.ViewModels.Catalog.CategoryMenuItem>

<ul class="nav navbar-nav main-menu">
    @foreach (var item in Model)
    {
        if (item.ChildItems.Any())
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@item.Name <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @foreach (var childItem in item.ChildItems)
                    {
                        if (childItem != item.ChildItems.First())
                        {
                            <li role="separator" class="divider"></li>
                        }

                        if (childItem.ChildItems.Any())
                        {
                            <li class="nav-item-group"><a href="/@childItem.SeoTitle">@childItem.Name</a></li>
                            foreach (var childChildItem in childItem.ChildItems)
                            {
                                <li><a href="/@childChildItem.SeoTitle">@childChildItem.Name</a></li>
                            }
                        }
                        else
                        {
                            <li><a href="/@childItem.SeoTitle">@childItem.Name</a></li>
                        }
                    }
                </ul>
            </li>
        }
        else
        {
            <li><a href="/@item.SeoTitle">@item.Name</a></li>
        }
    }
</ul>
